.body {
    background-color: black;

}
img {
    width:230px;
    height:150px;
}
.button1 {

    padding: 10px;
    border: 100px;
    color:whitesmoke;
    background-color:#7C204A;
    }

.button2 {
    padding: 10px;
    border: 100px;
    color:whitesmoke;
    background-color:#7C204A;

    }

.button3 {
    padding: 10px;
    border: 100px;
    color:whitesmoke;
    background-color:#7C204A;
    }

.container {
    color: #7C204A;

}
